html, body {
  height: 100%;
}

body {
  font-family: "Lato";
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  line-height: 1.5;
  color: white;
}

h1 {
  font-weight: 300;
}

.strips {
  display: flex;
  height: 100%;
}

.strips .strips__strip {
  display: flex;
  width: 20%;
  border: 2px solid white;
  justify-content: center;
  align-items: center;
  font-size: 1.7vw;
}

.strips__strip:nth-child(1) {
  background: #244F75;
}

.strips__strip:nth-child(2) {
  background: #60BFBF;
}

.strips__strip:nth-child(3) {
  background: #8C4B7E;
}

.strips__strip:nth-child(4) {
  background: #F8BB44;
}

.strips__strip:nth-child(5) {
  background: #F24B4B;
}