// Block 1: #244F75;
// Block 2: #60BFBF;
// Block 3: #8C4B7E;
// Block 4: #F8BB44;
// Block 5: #F24B4B;

$arrColors: ['#244F75','#60BFBF','#8C4B7E','#F8BB44','#F24B4B']; 


$colorFondo: #CEFEFF;

body{
  background-color: $colorFondo;
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  line-height: 1.5;
}

html,
body {
  height: 100%;
  margin: 0;
  justify-content: center;
}

.strips {
  display: flex;
  flex-flow: column;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.strips .strips__strip{
  display: flex;
  position: relative;
  border: 1px dotted grey;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 3.5vw;
}
